.firstRow {
  margin-top: 2rem;
  margin-bottom: 2rem;
  display: flex;
  vertical-align: middle;
  align-items:center;
  justify-content:center;
}

.titleDashboard {
  text-align: center;
  font-size: 3rem;
  font-weight: 500;
}

.titleDashboard h1 {
  font-weight: 700;
}

.headerCardDashboard {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.marginBottom {
  margin-bottom: 32px;
}

.secondRow {
  /* display: flex; */
  justify-content: space-between;
  /* background-color: #f8f9fa; */
}

.contactLink{
  /* padding: 25px; */
  margin-top: 2rem;
}